body {

  background-image: url("pattern-background-desktop.svg");
  background-repeat: no-repeat;
  background-color: #d6e1ffa6;
}

.talal {
  background-image: url("file:///C:/Users/HP/Downloads/pattern-background-desktop.svg");
  background: fixed;

  margin: 0px;
  width: 1366px;
  height: 620px;
  margin: -8px;
  display: flex;
}

form img {
  border-radius: 20px 20px 0 0;
  width: 100%;
}

form {
  display: grid;
  margin: 5px auto;
  background-color: white;
  border-radius: 31px;
  height: 555px;
}

h1 {
  display: flex;
  font-weight: 700;
  color: hsl(212, 21%, 14%);
  font-family: 'Fraunces', serif;
  margin: 5px auto;
}

p {
  display: flex;
  font-size: 14px;
  color: hsl(228, 12%, 48%);
  margin: 3% auto;
}

.pro {
  font-size: 1rem;
  background-color: rgb(9, 9, 243);
  color: wheat;
  border-color: blue;
  border-radius: 10px;
  margin: 7%;
  height: 48px;
  position: relative;
  box-shadow: 10px;
  width: 20p;
  top: -53px;
  border-radius: 10px;
  box-shadow: 0 6px 25px #c0c1f7;
  ;
}

.can {
  color: #718fad;
  background-color: white;
  margin: 5;
  font-size: large;
  border: 0;
  position: absolute;
  display: grid;
  top: 523px;
  left: 610px;
  font-weight: 900;

}

.lin {
  background-color: #eee;
  border-radius: 13px;
  margin: 7%;
  height: 66px;
}

.lin img {
  background-color: #eee;
  width: 50px;
  margin: 1%;
  position: relative;
  left: 11px;
  top: 5px;
  border-radius: 80px;
}

.lin h6 {
  font-size: large;
  display: grid;
  font-size: large;
  position: top;
  top: 35px;
  position: absolute;
  top: 330px;
  left: 600px;
}

h5 {
  font-size: large;
  display: grid;
  font-size: large;
  position: top;
  top: 35px;
  position: absolute;
  top: 370px;
  left: 605px;
  color: #9d9595;}

.lin a {
  display: grid;
  position: absolute;
  top: 385px;
  left: 765px
}

img {

  border-radius: inherit;
}

.can:hover {
  cursor: pointer;
}

.pro:hover {

  cursor: pointer;

}

@media (max-width:767px) {
  h6 {
    position: absolute;
    width: 98px;
  }

  h5{
    position: fixed;
    left: 607px;
  }

  h6 {
    position: absolute;
    width: 98px;
  }
}

@media (min-width: 768px) {
 

  h6 {
    position: absolute;
    left: 607px;
  }
}


@media (min-width: 992px) {



  h6 {
    position: absolute;
    width: 98px;
  }
}

@media (min-width: 1200px) {
  h5 {
    position: fixed;
  }

  h6 {
    position: absolute;
    width: 98px;
  }
}
