body{

  background-image: url("file:///C:/Users/HP/Downloads/pattern-background-desktop.svg");
background-repeat: no-repeat;
background-color: #d6e1ffa6;
}
.talal{
  background-image:url("file:///C:/Users/HP/Downloads/pattern-background-desktop.svg");
    background: fixed;

     margin: 0px;
     width: 1366px;
     height: 620px;
     margin: -8px ;
     display: flex;
   }
   form img{
    border-radius: 20px 20px 0 0;
    width: 100%;
   }
   form{
    display: grid;
    margin: 5px auto;
    background-color: white;
    border-radius: 31px;
    height: 555px;
   }
   h1{
    display: flex;
    font-weight: 700;
    color: hsl(212, 21%, 14%);
    font-family: 'Fraunces', serif; 
    margin: 5px auto;
   }
   p{
    display: flex;
    font-size: 14px;
    color: hsl(228, 12%, 48%);
    margin: 3% auto;
   }
   .pro{
    font-size: 1rem;
    background-color: rgb(9, 9, 243);
    color: wheat;
    border-color: blue;
    border-radius: 10px;
    margin: 7%;
    height: 48px;
    position: relative;
    box-shadow: 10px;
    width: 20p;
    top: -75px;
    border-radius: 10px;
    box-shadow:0 6px 25px #c0c1f7;;
   }
   .can{
    color: #718fad;
    background-color: white;
    margin: 5;
    font-size: x-large;
    border: 0;
    position: absolute;
    display: grid;
    top: 525px;
    left: 594px;
    font-weight: 900;

   }
   .lin{
    background-color: #eee;
    border-radius: 13px;
    margin: 7%;
    height: 66px;
}
  .lin img{
    background-color: #eee;
    width: 50px;
    margin: 1%;
    position: relative;
    left: 11px;
    top: 5px;
    border-radius: 80px;
  }
   .lin h6{
    font-size: large;
    display: grid;
    font-size: large;
    position: top;
    top: 35px;
    position: absolute;
    top: 345px;
    left: 600px;
   }
   .lin p{
    display: inline;
    position: absolute;
   
    top: 385px;
    position: absolute;
    left: 607px;
   }
   .lin a{
    display: grid;
    position: absolute;
    top: 402px;
    left: 765px
   }
   img {
    
    border-radius: inherit;
   }